<!DOCTYPE html>
<html lang="en">
<head>
<title>Fushamalaik</title>
<meta charset="utf-8">
<!-- Google web fonts -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet'/>
<link href="/static/kmerfinder/css/upload.css" rel="stylesheet"/>
<link rel="icon" href="/static/kmerfinder/images/favicon.ico">
<link rel="stylesheet" href="/static/kmerfinder/css/style.css">
<link rel="stylesheet" href="/static/kmerfinder/css/slider.css">
<script src="/static/kmerfinder/js/jquery.js"></script>
<script src="/static/kmerfinder/js/jquery-migrate-1.1.1.js"></script>
<script src="/static/kmerfinder/js/superfish.js"></script>
<script src="/static/kmerfinder/js/jquery.equalheights.js"></script>
<script src="/static/kmerfinder/js/jquery.easing.1.3.js"></script>
<script src="/static/kmerfinder/js/tms-0.4.1.js"></script>



<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'fade',
        pagination: true, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    })
});
</script>
</head>
<body>
<header>
  <div class="container_12">
    <div class="grid_12">
      <div class="clear"></div>
      <div class="menu_block">
        <nav>
          <ul class="sf-menu">
            <li class="current"><a href="{% url 'kmerfinder:index'%}">HOME</a></li>
            <li class="with_ul"><a href="about.html">SERVICES</a>
              <ul>
                <li><a href="{% url 'kmerfinder:detail'%}">KmerFinder</a></li>
                <li><a href="#">ResFinder</a></li>
                <li><a href="#">MLST</a></li>
				<li><a href="#">NDtree</a></li>
			  </ul>
            </li>
            <li><a href="practice.html">RESEARCH</a></li>
            <li><a href="clients.html">TUTORIAL</a></li>
            <li><a href="contacts.html">CONTACTS</a></li>
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>
<form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
	<div id="drop">
		Drop Here
		<a>Browse</a>
		<input type="file" name="upl" multiple />
	</div>
	<ul>
	<!-- The file uploads will be shown here -->
	</ul>

</form>
<!-- JavaScript Includes -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/kmerfinder/js/jquery.knob.js"></script>

<!-- jQuery File Upload Dependencies -->
<script src="/static/kmerfinder/js/jquery.ui.widget.js"></script>
<script src="/static/kmerfinder/js/jquery.iframe-transport.js"></script>
<script src="/static/kmerfinder/js/jquery.fileupload.js"></script>

<!-- Our main JS file -->
<script src="/static/kmerfinder/js/uploadscript.js"></script>
</body>
</html>